<h1>Favorites#index</h1>

<% @interiors.each do |interior| %>
    <%= image_tag(interior.design_img.url) %><br>

    <div>
      
      <label>コーディネーター：</label>
      <%= link_to interior.coordinator.name, coordinator_path(interior.coordinator_id) %>

    </div>

   
    
  <% end %>
