<h1>承認待ち一覧</h1>

<% if @contracts.present? %>
  <table>
    <tr>
      <th>リクエストNo.</th>
      <th>レジデント名</th>
    </th>

    <% @contracts.each do |contract| %>
      <tr>
        <td><%= link_to contract.request_id, request_path(contract.request_id) %></td>
        <td><%= link_to contract.request.resident.user_name, resident_path(contract.request.resident_id) %></td>
        <td><%= link_to '承認', contracts_path(contract: {approval: true, status: 1}), method: :update %></td>
        <td><%= link_to '否認', contracts_path(contract.id), method: :delete, data: {confirm: '本当に否認しますか？'} %></td>
      </tr>
    <% end %>
  </table>

<% else %>
  <p>依頼はありません</p>
<% end %>

