<h1>Interiors</h1>


<% @interiors.each do |interior| %>
<div>
  <%= image_tag(interior.design_img.url) %><br>

  <div>
    <label>スタイル</label>
    


  </div>

  <label>コーディネーター：</label>
  <%= link_to interior.coordinator.name, coordinator_path(interior.coordinator_id) %>
  
<% end %>

</div>
<%= link_to 'Back', interiors_path %>
