.suggestion-wrap {
    text-align: center;
    margin: 0 auto;
}
.design-image {
    width: 600px;
}

  .btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #e3d3c3;
    border: solid 2px #e3d3c3;
    border-radius: 3px;
    transition: .4s;
    width: 300px;
    margin-top: 30px;
  }
  
  .btn-flat-border:hover {
    background: #e3d3c3;
    text-decoration: none;
    color: white;
  }

  .btn-flat-border2 {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #9cc4d4;
    border: solid 2px #9cc4d4;
    border-radius: 3px;
    transition: .4s;
    width: 300px;
    margin-top: 30px;
  }
  
  .btn-flat-border2:hover {
    background: #9cc4d4;
    text-decoration: none;
    color: white;
  }

