.tops-header {
    width: 980px;
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
    line-height: 2;
}
.top-logo {
    margin: 20px auto;
    width: 50%;
    text-align: center;
}
.tops-image{
    margin: 10px auto;
    text-align: center;
}
.top-img {
    width: 75%;
}

.tops-body {
    width: 980px;
    text-align: center;
}


.concept {
    margin: 30px;
}
span {
    font-size: 18px;
    marign-bottom: 10px;
}
.under {
    background: linear-gradient(transparent 65%, #9cc4d4 65%);
  }

.under2 {
    background: linear-gradient(transparent 65%, #e3d3c3 65%);
  }

.box-left {
    width:350px;
    height:50px;
    padding: 5px;
    color: #fff;
    background:#9cc4d4;
    border-radius: 70px 70px 70px 70px;
  }

  .box-right {
    width:350px;
    height:50px;
    padding: 5px;
    color: #fff;
    background:#e3d3c3;
    border-radius: 70px 70px 70px 70px;
  }

  .en {
      font-size: 26px;
  }
  .ja {
      font-size: 15px;
  }

.tops-cover {
    width: 980px;
    margin: 50px 80px;
    clear: both;
}
.tops-sel {
    width: 350px;
    float: left;
    margin-right: 50px;
}
.tops-link {
    margin-top: 20px;
    margin-bottom: 50px;
}
.tops-link a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
}

.tops-link a:hover {
    color: #1e90ff;
}

footer {
    height: 50px;
    margin-top: 50px;
    text-align: center;
}