.tops-header {
    width: 980px;
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
    line-height: 2;
}
.top-logo {
    margin: 20px auto;
    width: 60%;
    text-align: center;
}
.tops-cover{
    margin: 10px
}
.top-img1 {
    width: 600px;
}
.top-img2 {
    width: 320px;
}
.top-img3 {
    width: 490px;
}

.tops-body {
    width: 980px;
    text-align: center;
}
.tops-div {
    text-align: center;
}
.tops-sel {
    float: left;
}

.tops-sel p {
    float:left;
}